/* Generally */

.Homepage {
  display: flex;
  justify-content: center;
  padding: 0 60px 0 60px;
}

.postContent {
  background-color: #f2f2f2;
  width: 70%;
}

.profileCard {
  /* background-color: aqua; */
  width: 30%;
}

/* profileCard */

.search-field {
  display: inline-flex;
  height: 40px;
  border-radius: 20px;
  background: #f8f8f8;
  border: solid 1px #e2e2e2;
  position: relative;
  overflow: hidden;
  align-items: center;
  margin-left: 15px;
  margin-top: 15px;
  width: 350px;
  max-width: 350px;
}

.search-field input {
  background: transparent;
  border: none;
  padding: 0 20px 0 35px;
  height: 100%;
}

.search-field input:focus {
  outline: none;
}

.search-field .icons {
  position: absolute;
  left: 12px;
  color: #7c7c7c;
}

.searchForm {
  padding: 0 15px;
}

.profile {
  display: flex;
  align-items: center;
  height: 150px;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.profileName {
  display: flex;
  flex-direction: column;
  font-size: larger;
  padding: 0 15px;
}

.profileImage img {
  height: 93px;
  width: 91px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  object-fit: Cover;
}

.info {
  display: flex;
  padding: 0 15px;
}

.info .posts {
  margin: auto;
}

.status {
  width: 448px;
  padding: 0 30px;
}

.newPost {
  padding: 0 35px;
  display: inline-flex;
  width: 273px;
  height: 65px;
  background-color: #1ead68;
  border: solid 1px #e2e2e2;
  border-radius: 51px;
  position: relative;
  overflow: hidden;
  align-items: center;
  margin-left: 15px;
}

.newPost button {
  background: transparent;
  border: none;
  padding: 0 20px 0 45px;
  height: 100%;
  font-size: larger;
  color: #ffffff;
}

.newPost .icons {
  position: absolute;
  left: 32px;
  transform: rotate(-25deg);
  color: #ffffff;
  font-size: 35px;
}
