.navigation {
    background: white;
    box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
    height: 60px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 35px;
    transform: rotate(-25deg);
    color: #1EAD68;
}

.items {
    display: flex;
    height: 100%;
    flex: 1;
    padding: 0 25px;
}

.item {
    height: 100%;
    padding: 0 15px;
    cursor: pointer;
    color: #3c3c3c;
    transition: background .2s ease;
    display: flex;
    align-items: center;
}

.item:hover {
    background: #f1f1f1;
}

.itemIcon {
    font-size: 18px;
    margin-right: 5px;
}

.profile {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    cursor: pointer;
    transition: background .2s ease;
}

.profile:hover {
    background: #f1f1f1;
}

.profileName {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profileImage {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}