.newComment {
  flex: 3;
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: 0 auto;
  align-items: flex-end;
  padding: 0 10px 15px;
  border-bottom: solid 1px #e2e2e2;

  .newCommentRow {
    display: flex;
    align-items: flex-start;
    padding: 25px 0 15px;
    width: 100%;
  }

  .profileImage {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    object-fit: Cover;
    margin-right: 10px;
  }

  .commentContent {
    flex: 1;

    textarea {
      background-color: #f0f2f5;
      border: #e2e2e2;
      width: 100%;
      min-height: 100px;
      border-radius: 10px;
      font-family: inherit;
      padding: 10px;
      resize: vertical;

      &:focus {
        outline: none;
      }
    }
  }

  .commentActionRow {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 70px;

    .spacer {
        flex: 1;
      }

    button {
        padding: 0 35px;
        width: 140px;
        height: 45px;
        background-color: #1ead68;
        border: solid 1px #e2e2e2;
        border-radius: 51px;
        color: white;
        font-size: 20px;
        cursor: pointer;
        transition: background .2s ease, opacity .2s ease;
    
        &:hover {
          background: darken(#1ead68, 5%)
        }
      }
  }
}
