.content {
  display: flex;
  height: 100vh;
  align-items: baseline;
  justify-content: center;
  margin-top: 30px;

  .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
    border-radius: 5px;
    box-shadow: 0 9px 50px hsla(24, 26%, 4%, 0.548);
    padding: 20px;
    background-color: #ffffff;

    .profile {
      display: flex;
      align-items: center;
      height: 150px;
      padding: 0 15px;
      cursor: pointer;
      transition: background 0.2s ease;
    }

    .profileName {
      display: flex;
      flex-direction: column;
      font-size: larger;
      padding: 0 15px;
    }

    .profileImage {
      img {
        height: 63px;
        width: 61px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin-left: 10px;
        object-fit: Cover;
      }
    }
    .post,
    .date {
      padding: 0 30px;
    }
    .date {
      font-size: small;
    }
    .statistics {
      display: flex;
      flex-wrap: wrap;
      padding: 0 20px;
      p {
        margin: 10px;
      }
    }
    .funktion {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        background: #fff;
        border: 0;
        border-right: 1px solid #f4f4f4;
        color: #9197a3;
        font-size: 20px;
        float: left;
        height: 60px;
        line-height: 60px;
        margin: 0;
        outline: 1px #08f;
        padding: 0;
        width: 33.33333333333%;
      }
      button:hover {
        background: #1ead68;
        color: #ffffff;
        box-shadow: 0 9px 50px hsla(24, 26%, 4%, 0.548);
        cursor: pointer;
      }
    }
    .comment {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 85px;
      padding: 0 15px;
      .text {
        input,
        input:focus {
          width: auto;
          height: auto;
          border: 0;
          font-size: large;
        }
      }
      .answer {
        padding: 0 35px;
        width: 173px;
        height: 55px;
        background-color: #1ead68;
        border: solid 1px #e2e2e2;
        border-radius: 51px;
        position: relative;
        overflow: hidden;
        align-items: center;
        margin-left: 15px;
        cursor: pointer;

        button {
          background: transparent;
          border: none;
          height: 100%;
          font-size: larger;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }
}
